html, body{
    height: 100%;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.header-text{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
}

.main_text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}
.text, a, .placeholder{
    font-size: 18px;
    color: #E5E7EB;
}

.container-header, .container-hero, .information{
    display: flex;
    justify-content: center;
}

.header, .hero, .container-information{
    width:1020px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 90px;
}

.hero{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}

.hero-card{
    width: 500px;
}

button{
    background-color: #3882F6;
    border: none;
    padding: 10px 38px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
    transition-duration: 0.4s;
    
}

  button:hover {
    background-color: white; 
    color: #3882F6;
  }

.placeholder{
    display: flex;
    justify-content: center;
    width: 550px;
    height: 250px;
    align-items: center;
    background-color: #6d747d;
}

.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information{
    background-color: white;
    padding: 50px 0px;
}

.title{
    text-align: center;
}

.cards{
    display: flex;
    margin: 50px 0px;
    justify-content: center;
    gap: 80px;
}

.empty{
width: 180px;
height: 180px;
border: 5px solid #3b82f7;
border-radius: 15px;
}

.card-text{
    color: #78808a;
    font-size: 18px;
    margin-top: 12px;
    text-align: center;
}
.card{
    width: 180px;
}

.quote{
    background-color: #E5E7EB;
}
